# Docs and devs
.diff/
*.csv

# Demo data analysis results
course_data/*.tif
course_data/*.tiff
course_data/*.csv

# Byte-compiled / optimized / DLL files
__pycache__/
.ipynb_checkpoints

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
*.egg-info/
*.egg